.container {
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.alanImage {
    margin-bottom: 50px;
}

.innerContainer {
    max-width: 80%;
    margin: 0 auto;
}

.title {
    line-height: 30px;
    text-align: center;
}

.contentTitle h2 {
    text-align: center;
}

