/* HERO */
.hero {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eee;
    margin-bottom: 60px;
}

.heroText {
    margin: 0 auto;
    max-width: 900px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.pager {
    margin-top: 40px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .hero {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container {
        padding: 0 20px;
    }
}
