.container {
    margin: 0 auto;
    max-width: 1200px;
}

.firstImage {
    height: 500px;
}

.grid {
    display: grid;
    gap: 100px;
}

.grid2 {
    grid-template-columns: 2fr 1fr;
}

.label {
    font-style: italic;
    color: #999;
}

.input {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}

.input input {
    font-style: italic;
    padding: 3px 10px;
    width: 300px;
    color: #222;
    border: #999 1px solid
}

.textarea {
    padding: 5px 20px;
    width: 500px;
    height: 300px;
    border: #999 1px solid;
}

@media only screen and (max-width: 1300px) {
    .container {
        padding: 0 20px;
    }

    .grid2 {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .textarea {
        width: 400px;
        max-width: 400px;
    }
}