header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.containment {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 20px;
    width: 300px;
}

h2 {
    margin: 0;
}

@media only screen and (max-width: 610px) {
    .containment {
        flex-direction: row;
    }

    .link {
        align-self: flex-start;
        padding-right: 0;
        width: 200px;
    }

    .navLinks {
        display:none;
    }
}