
.list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

li {

}

li:hover {
    text-decoration: underline;
}

.space {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    margin: 0;
}

.hello {
    padding-right: 25px;
    margin: 0;
    font-size: 15px;
}

.footer {
    justify-content:center;
}
