.firstImage {
    margin-bottom: 20px;
    height: 500px;
    border-radius: 5px;
}

.innerContainer {
    width: 98%;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid2 {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.card {
    padding-bottom: 20px;
    border-bottom: 1px dotted #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.firstCard{
    text-decoration: none;
    color: #333;
    padding-bottom: 50px;

}

.firstCardStyles {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.01);
    /* background-color: #fff; */
    transition: 0.3s;
}

.card .excerpt{
    color: #000;
}

.postsGap {
    margin: 20px;
}

.postImage {
    margin-bottom: 20px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}

.taxomonies {
    margin-bottom: 20px;
    font-size: 13px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #2d53fe;
}

.date {
    color: rgb(152, 152, 152);
    text-decoration: none;
    text-transform: uppercase;
}

.title {
   /* text-decoration: none; */
   color: rgba(0, 0, 0, 0.8);
   font-size: 22px;

}

.titleLink {
    text-decoration: none;
}

.excerpt {
    font-size: 15px
}

@media only screen and (max-width: 800px) {
    .grid2 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .postImage {
        height: 275px;
    }

    .firstImage {
        height: 200px;
    }
}